* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins sans-serif;
}

body {
    color: white;
    background-color: #081b29;
    scroll-behavior: smooth;
}


/* header section  */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #081b29;
}

header .heading {
    animation: slideleft 0.3s;
}

.header-a-group a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    animation: slidebottom 0.3s;
    animation-delay: calc(0.1s*(var(--i)));
    transition: All 0.1s;
    color: inherit;
    scale: 1;
    /* transition:slidebottom 2s; */
}

.header-a-group a:hover {
    color: green;
    transform: scale(1.1);
    font-weight: 600;
}



/* home section */
#home {
    /* background: url(.//coding.jpg), #111; */
    background: linear-gradient(to right, #081b29, rgba(78, 108, 77, 0.7)), url(.//coding.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

#home .home-name {
    animation: slideleft 0.3s;
    animation-delay: 0.2s;
    font-size: 50px;
    margin-left: -3px;
    margin-top: 10px;
    font-weight: 900;
}

.cyan {
    color: cyan;
}

#home .home-info .extra-info {
    width: 400px;
    margin-top: 30px;
    /* opacity: 0; */
    animation: slideright 0.7s;
    animation-delay: 0.4s;

}

.home-info h2:nth-of-type(1) {
    margin-top: 10px;
    animation: slidetop 0.7s;
    animation-delay: 0.2s;
}


.home-info h2:nth-of-type(2) {
    margin-top: 10px;
    animation: slidebottom 0.7s;
    animation-delay: 0.2s;
}

.home-social-icons a {
    display: inline-flex;
    border: 2px solid cyan;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px;
    color: cyan;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
    animation: slideright 1s forwards;
    animation-delay: calc(0.1s*var(--i));
}

.home-social-icons a i {
    font-size: 20px;
}

.home-social-icons a:hover {
    color: #081b29;
    background-color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 20px cyan;
}

.home-button {
    border-radius: 99999px;
    border: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 40px;
    color: #081b29;
    font-weight: 700;
    background-color: cyan;
    letter-spacing: 1px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.home-button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

}

.home-img {
    text-align: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-right: 10rem;
}

.home-img img {
    width: 100%;
    height: 100%;
    scale: 1.4;
    object-fit: cover;
    object-position: top left;
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidebottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* about section  */

#about {
    margin: 0px 10%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


#about .about-detail {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about .about-indetail p {
    margin-bottom: 10px;
}


/* my services section  */

#services {
    margin: 0px 10%;
    padding: 4rem 0px;
    height: 100vh;
}

#services>h1 {
    text-align: center;
    font-size: 30px;
    margin: 4rem 0rem;
}

#services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;

}

#services .service-container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px blue;
}

.service>div>i {
    font-size: 90px;
    margin-bottom: 20px;
}

.service .service-detail {
    margin: 10px 0px;
}



/* skills section  */

#skills {
    margin: 0 10%;
    margin: 0px 10%;
    height: 100vh;
    padding: 8rem 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.skills-container>h1 {
    margin-bottom: 2rem;
}

.technicals-bars {
    display: flex;
    font-size: 23px;
    gap: 20px;
    flex-direction: column;
}


.technicals-bars .info {
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.technicals-bars .info>span {
    font-size: 19px;
}


.progress-line {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line span {
    position: absolute;
    left: 0;
    height: 100%;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}


.progress-line.html>span {
    background-color: cyan;
    width: 90%;
}

.progress-line.css>span {
    background-color: cyan;
    width: 85%;
}

.progress-line.js>span {
    background-color: cyan;
    width: 80%;
}

.progress-line.nodejs>span {
    background-color: cyan;
    width: 70%;
}

.progress-line.react>span {
    background-color: cyan;
    width: 80%;
}

.progress-line>span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -25px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}


.progress-line.html>span::after {
    content: "90";
}

.progress-line.css>span::after {
    content: "85";
}

.progress-line.js>span::after {
    content: "80";
}

.progress-line.nodejs>span::after {
    content: "70";
}

.progress-line.react>span::after {
    content: "80";
}


.progress-line>span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: black;
    top: -10px;
    right: 0px;

    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}


@keyframes showtext {
    100% {
        opacity: 1;
    }
}


.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}


.radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 160px;

}

.radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animation-bar 1s linear forwards;
}


@keyframes animation-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: cyan;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-linecap: round;

}

.path-1 {
    animation: animation-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animation-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animation-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animation-path4 1s 1s linear forwards;
}


@keyframes animation-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animation-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animation-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animation-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-75px);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}


/* portfollio section  */
#portfollio{
    margin: 0 10%;
    height: 100vh;
}

.main-text {
    padding-top: 130px;
    margin-top: 200px;

}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;

}


.main-text h2 span {
    color: cyan;
}

.portfollio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    gap: 2rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;

}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}


a {
    text-decoration: none;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}


.row:hover .layer {
    height: 100%;

}


/* contact section   */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin: 130px 10% 0;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-form h2 {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;

}


.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;

}


.contact-list {
    margin-bottom: 3rem;

}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}


.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(0.2s *var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}

.contact-form textarea {
    resize: none;
    height: 220px;

}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    left: 2.1rem ;
}

.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}